* {
  margin: 0;
  padding: 0;
}
a {
  color: white;
  text-decoration: none;
}
#sidebar-btn {
  display: none;
  background-color: #0d2738;
  border: none;
}
#close-sidebar {
  background-color: #0d2738;
  border: none;
}
.header {
  width: 100%;
  height: 20vh;
  background-color: #0d2738;
  color: white;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
#profile-logo,
#add-product-logo,
#product-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header h1 {
  padding: 1vh 0;
  font-size: 3rem;
}

.nav ul {
  display: flex;
  align-items: center;
}

.nav li {
  list-style-type: none;
  margin: 0 5vw;
}

.nav ul li a {
  color: white;
}

.sidebar {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.973);
  height: 80vh;
  position: fixed;
  top: 20vh;
  font-size: 2rem;

  transition: transform 0.3s ease;
  transform: translateX(105%);
}
.sidebar a {
  color: #0d2738;
}
.show {
  transform: translateX(30%);
}
.side {
  height: 80%;
  width: 100%;
}
.side ul {
  height: 100%;
  width: 80%;
  margin: 0 0 0 7%;
  display: flex;
  flex-direction: column;
  align-items: first baseline;
  justify-content: space-around;
}
.side li {
  list-style-type: none;
}

.search {
  /* background-color: red; */
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search input {
  width: 50%;
  height: 5vh;
  border: none;
  border-radius: 20px;
  padding: 0 3vw;
  font-size: 1.3rem;
  background-color: #8a95a169;
  color: #0d2738;
}

.signup,
.add-product {
  width: 50%;
  margin: 5vh auto;
  background-color: #0d2738;
  color: rgba(255, 255, 255, 0.908);
  border: 2px solid #0d2738;
  border-radius: 30px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form {
  width: 80%;
  background-color: #f2faff;
  color: rgba(0, 19, 44, 0.931);
  border-radius: 30px;
  margin: 5vh 0;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-box {
  width: 60%;
  height: 4vh;
  margin: 3vh 0;
  padding: 3px 10px;
  border: none;
  border-radius: 20px;
  background-color: #dfdfdf;
  color: rgb(0, 0, 0);
}

#signup-btn,
#add-product-btn {
  width: 40%;
  height: 5vh;
  margin: 3vh 0;
  padding: 3px 10px;
  border: none;
  border-radius: 20px;
  cursor: pointer;

  background-color: #0d2738;
  color: white;
}

#login {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#login-btn {
  /* width: 40%; */
  height: 5vh;
  margin: 3vh 0;
  padding: 3px 10px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: medium;

  background-color: white;
  color: #0d2738;
}

#login-btn a {
  color: #0d2738;
  text-decoration: none;
}

.login {
  width: 50%;
  margin: 5vh auto;
  background-color: #0d2738;
  color: rgba(255, 255, 255, 0.908);
  border: 2px solid #0d2738;
  border-radius: 30px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.expired h1 {
  text-align: center;
}
.lottie {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.container {
  /* background-color: red; */
  display: grid;
  grid-template-columns: 50% auto;
  padding: 2vh 2vw;
  box-sizing: border-box;
}
.one-item {
  height: 90vh;
  margin: 0 3vw 0 0;
  background-color: #e9d04385;
  border-radius: 0 189px 0 0;
}
.selected-item {
  /* background-color: red; */
  width: 80%;
  height: 80%;
  margin: 5% auto;
  padding: 5% 5%;
  color: #052c46;
}
.selected-item #img {
  width: 90%;
  height: 40%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f7994780;
  border-radius: 20px;
}
#img img {
  width: auto;
  height: 99%;
}
.s- {
  margin: 2vh 0;
}
#s-name {
  font-size: 3rem;
  text-transform: uppercase;
  margin: 2vh 0;
  color: #052c46;
  border-radius: 50px;
  text-align: left;
  padding: 10px 10px;
  font-weight: 800;
}
#s-cate,
#s-com {
  font-size: 2rem;
  text-transform: capitalize;
}
#s-price {
  font-size: 2.5rem;
  background-color: #32b9d7;
  border-radius: 50px;
  text-align: center;
  margin: 10vh 0 15vh 0;
}
.products-list {
  height: 90vh;
  margin: 0 0 0 3vw;
  overflow-y: scroll;
}

.product-card {
  border: 1px solid rgba(0, 0, 0, 0.345);
  border-radius: 20px;
  margin: 1vh 2vw;
  height: 10vh;
  padding: 1vh 3vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #15486a3a;
}
#p-name {
  text-align: right;
  font-size: 2.3vw;
}
#p-category {
  text-align: right;
  font-size: 1.3vw;
}
.profile {
  min-height: 100vh;
}
.user-info {
  /* width: 40%; */
  height: 30vh;
  color: rgb(37, 40, 45);
  margin: 5vh auto;
}
.user-info table {
  background-color: #0a586aa1;
  width: 80%;
  border-collapse: collapse;
  margin: 0 3vw;
  margin: 5vh auto;
}
.user-info th {
  border: 1px solid #ddd;
  padding: 2vh 1vw;
  text-align: left;
  text-transform: uppercase;
}
.user-info td {
  border: 1px solid #ddd;
  padding: 2vh 1vw;
  text-align: left;
  text-transform: uppercase;
}
.product-info {
  padding: 4vh 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#logout {
  text-align: center;
}
#logout a {
  color: rgb(37, 40, 45);
  text-align: center;
  font-weight: 700;
}

.added-products-table {
  width: 80%;
  border-collapse: collapse;
  margin: 3vh 0 0 0;
}

.added-products-table th {
  border: 1px solid #ddd;
  padding: 2vh 1vw;
  text-align: center;
  background-color: #065589c5;
}

.added-products-table td {
  border: 1px solid #ddd;
  padding: 1vh 1vw;
  background-color: #e9d04385;
}

/* Alternating row colors */
.added-products-table tr:nth-child(even) {
  background-color: #e9d04385;
}
.added-products-table tr:nth-child(even):hover {
  background-color: #f79947;
}

/* Hover effect for table rows */
.added-products-table tr:hover {
  background-color: #f79947;
}

.added-products-table tbody tr td[colspan="5"] {
  text-align: center;
  font-weight: bold;
  padding: 5vh 0;
}

.product-info .btns {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
}
.product-info .btns button {
  padding: 1vh 1vw;
  border: none;
  border-radius: 20px;
  background-color: #0d2738;
  color: white;
}
.footer {
  background-color: #0d2738;
  color: white;
  min-height: 10vh;
  width: 100%;
}
hr {
  margin: 0 20vw;
}
.footer-one {
  background-color: #0d2738;
  color: white;

  min-height: 10vh;
  width: 100%;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  gap: 10vw;
}
.somthing {
  max-width: 50%;
  height: 30vh;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 0 60px 0 0;
  margin: 6vh 2vw;
  padding: 3vh 2vw;
}
#some-heading {
  font-size: 3rem;
  font-weight: 700;
  margin: 0 0 3vh 0;
}
#some-msg {
  font-size: 1.2rem;
}
.contect {
  width: 50%;
  display: flex;
  align-items: first baseline;
  flex-direction: column;
}
#contect-heading {
  font-size: 3rem;
  font-weight: 700;
}
.contect table {
  width: 100%;
  margin: 3vh 0 0 0;
  border-collapse: collapse;
}
.contect th {
  padding: 2vh 0;
  text-align: left;
}
.contect td {
  padding: 2vh 0;
  text-align: left;
}
.social ul {
  margin: 3vh 0 0 0;
  display: flex;
  flex-direction: row;
  gap: 2vw;
}
.contect li {
  list-style-type: none;
}
/* scroll bar */
/* width */
::-webkit-scrollbar {
  width: 6px;
}
.copy {
  text-align: center;
  padding: 5vh 0;
  font-size: 1.1rem;
}
/* Track */
::-webkit-scrollbar-track {
  background-color: #e9d04385;
  border-radius: 20px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #052c466a;
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #052c46;
}

@media only screen and (max-width: 600px) {
  #sidebar-btn {
    display: block;
  }

  .nav {
    display: none;
  }
  #profile-logo,
  #add-product-logo,
  #product-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
}
